<?xml version="1.0"?>
<launch>

  <!-- Original version in Felix's implementation-->
  <node pkg="tf" type="static_transform_publisher" name="bin_frame_broadcaster" args="0.0 -1.0 1.2 1.57079632679 0.0 -1.57079632679 shelf bin_frame 50" />
  <node pkg="apc16delft_motion" type="execute_coarse_motion" name="execute_coarse_motion" output="screen" />

</launch>
