<?xml version="1.0"?>
<launch>
	<arg name="urdf" default="sia20f" />

	<!-- By default, we do not start a database (it can be large) -->
	<arg name="db" default="false" />

	<!-- By default, we are not in debug mode -->
	<arg name="debug" default="false" />

	<!-- Allow for a different controller_joints file for simulation, which is useful for showing different setups -->
	<arg name="controller_joints" default="simulator.yaml" />

	<!-- Launch the industrial_robot_simulator -->
	<rosparam file="$(find apc16delft_simulation)/config/$(arg controller_joints)" />
	<remap from="/joint_trajectory_action" to="/follow_joint_trajectory" />
	<include file="$(find industrial_robot_simulator)/launch/robot_interface_simulator.launch" />

	<!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
	<include file="$(find apc16delft_moveit_config)/launch/planning_context.launch">
		<arg name="load_robot_description" value="false"/>
	</include>

	<include file="$(find apc16delft_description)/launch/robot_description.launch">
		<arg name="type" value="$(arg urdf)" />
	</include>

	<!-- Given the published joint states, publish tf for the robot links -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

	<!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
	<include file="$(find apc16delft_moveit_config)/launch/move_group.launch">
		<arg name="debug" value="$(arg debug)"/>
	</include>

	<!-- If database loading was enabled, start mongodb as well -->
	<include file="$(find apc16delft_moveit_config)/launch/default_warehouse_db.launch" if="$(arg db)"/>

</launch>
