<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="simple_transmission" params="prefix joint reduction:=1">
    <transmission name="${prefix}${joint}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}${joint}">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}${joint}_motor">
        <mechanicalReduction>${reduction}</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:macro name="motoman_sia20f_transmission" params="prefix">
    <xacro:simple_transmission prefix="${prefix}" joint="joint_s" />
    <xacro:simple_transmission prefix="${prefix}" joint="joint_l" />
    <xacro:simple_transmission prefix="${prefix}" joint="joint_e" />
    <xacro:simple_transmission prefix="${prefix}" joint="joint_u" />
    <xacro:simple_transmission prefix="${prefix}" joint="joint_r" />
    <xacro:simple_transmission prefix="${prefix}" joint="joint_b" />
    <xacro:simple_transmission prefix="${prefix}" joint="joint_t" />
  </xacro:macro>

</robot>
