<?xml version="1.0" ?>
<robot name="apc16delft" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find apc16delft_description)/urdf/sia20f.urdf.xacro" />

<xacro:include filename="$(find apc16delft_simulation)/urdf/common.gazebo.xacro" />
<xacro:include filename="$(find apc16delft_simulation)/urdf/motoman.transmission.xacro" />

<xacro:simple_transmission joint="rail_y" prefix="" />
<xacro:motoman_sia20f_transmission prefix="robot_" />

</robot>
